<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fanyafeng.mapper.IItemsMapper">

    <select id="findItemsById" parameterType="int" resultType="com.fanyafeng.model.ItemsModel">
        select * from items where id = #{VALUE}
    </select>

    <update id="updateItems" parameterType="com.fanyafeng.model.ItemsModel">
        update items
        set name = #{name},
        price = #{price},
        pic = #{pic},
        createtime = #{createTime},
        detail = #{detail}
        where id = #{id}
    </update>


</mapper>