<component name="ArtifactManager">
  <artifact type="war" name="SpringMybatisDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="recreation-1.0.war">
      <element id="artifact" artifact-name="SpringMybatisDemo:war exploded" />
    </root>
  </artifact>
</component>